fstats:
- type: F3
  a: ["Han"]
  b: ["Chuvash", "Albanian", "Armenian", "Bulgarian", "Czech", "Druze", "English",
      "Estonian", "Finnish", "French", "Georgian", "Greek", "Hungarian", "Icelandic",
      "Italian_North", "Italian_South", "Lithuanian", "Maltese", "Mordovian", "Norwegian",
      "Orcadian", "Russian", "Sardinian", "Scottish", "Sicilian", "Spanish_North",
      "Spanish", "Ukrainian", "Finland_Levanluhta", "Russia_Bolshoy", "Russia_Chalmny_Varre", "Saami.DG"]
  c: ["Mbuti"]
